---

---

<nav class="navbar">
  <div class="nav-container">

    <div class="logo">Aldous.</div>

    <div class="nav-right">
      <ul class="nav-links">
        <li><a href="#home" data-scroll="home">Home</a></li>
        <li><a href="#about" data-scroll="about">About</a></li>
        <li><a href="#projects" data-scroll="projects">Projects</a></li>
        <li><a href="#skills" data-scroll="skills">Skills</a></li>
        <li><a href="#contact" data-scroll="contact">Contact</a></li>
      </ul>

      <a class="resume-btn" href="/resume.pdf" target="_blank">
        Resume
      </a>
    </div>

  </div>
</nav>